@import 'antd/dist/antd.css';
.App {
  .header {
    background: #f6f8fa;
    border-top: 1px solid #d0d7de;
    border-bottom: 1px solid #d0d7de;
    text-align: center;
    h3 {
      font-weight: normal;
    }
  }
}
